name: Hello world
# triggers  - Event, Manual, scheduled, workflow
on:
  push: 
    branches:
      - main
      - develop
      - 'resolve@'
  pull:
    branches:
      - main    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build step
        run: echo "A demo build"

